body {
  background-color: #232136;
  color: #e0def4;
  font-family: Pier Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

main {
  margin-top: 50px;
}

hr {
  border: 1px solid #56526e;
  width: 93%;
}

/* # SETTINGS AREA */

.settings label {
  display: block;
  font-size: 12px;
  color: #908caa;
}

.settings input, textarea {
  outline: none;
  border: none;
  display: block;
  line-height: 1.2em;
  font-size: 13pt;
  background-color: inherit;
  color: #e0def4;
}

.settings textarea {
  line-height: 1em;
  height: 4em;
}

.dicts_title {
  display: inline-block;
  margin: 5px;
}

.newdict {
  display: inline-block;
  background-color: #393552;
  color: #e0def4;
  font-size: 15px;
  border: none;
  text-align: center;
  text-decoration: none;
  transition-duration: .2s;
  padding: 4px 7px;
  border-radius: 6px;
  border-width: 0;
}

.newdict:hover {
  transform: scale(1.18);
  color: #3e8fb0;
  border-radius: 8px;
}

.remove {
  background-color: #44415a;
  color: #eb6f92;
  font-size: 15px;
  border: none;
  text-align: center;
  text-decoration: none;
  transition-duration: .2s;
  padding: 4px 7px;
  border-radius: 6px;
  border-width: 0;
}

.remove:hover {
  background-color: #eb6f92;
  color: #e0def4;
  transform: scale(1.05);
  border-radius: 8px;
}

#model, #filename, #url {
  width: 30em;
}

#delim {
  width: 4em;
}

.labeledinput {
  display: inline-block;
  padding: 7px;
  border-radius: 7px;
  margin: 5px;
  background-color: #393552;
}

.selectfile {
  background-color: #393552;
  color: #9ccfd8;
  border: none;
  text-align: center;
  text-decoration: none;
  transition-duration: .2s;
  font-size: 13pt;
  margin: 5px;
  border-radius: 7px;
  padding: 8px;
  border-width: 0;
}

.selectfile:hover {
  border-radius: 10px;
}


select {
  appearance: none;
  font-size: 1.15rem;
  padding: 0.5em 2em 0.5em 1em;
  border-width: 0px;
  color: #908caa;
  cursor: pointer;
  background-color: #2a273f;
  font-size: 16px;
}

.dropdown {
  position: relative;
  margin: 5px;
  display: inline;
}

.dropdown::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.dropdown::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #908caa;
  top: 50%;
}

/* GENERAL STUFF */


.sentence, .wordinfo, .definition, .export {
  display: flex;
  justify-content: center;
}

.sentsubmit {
  width: 80%;
  height: 3em;
  padding: 12px 20px;
  background-color: #2a273f;
  border-radius: 15px;
  margin: 5px;
  font-size: 16px;
  color: inherit;
  border: none;
}

.parsebutton {
  background-color: #393552;
  color: #e0def4;
  font-size: 14px;
  border: none;
  text-align: center;
  text-decoration: none;
  transition-duration: .2s;
  padding: 10px;
  border-radius: 4px;
  border-width: 0;
}

.parsebutton:hover {
  border-radius: 8px;
}

.exportbutton {
  background-color: #393552;
  color: #e0def4;
  font-size: 18px;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 15%;
  transition-duration: .2s;
  padding: 10px;
  border-radius: 6px;
  border-width: 0;
  display: flex;
  justify-content: center;
}

.exportbutton:hover {
  transform: scale(1.05);
  border-radius: 12px;
}

.selectedword {
  width: 50%;
  text-align: center;
  padding: 12px 20px;
  background-color: inherit;
  font-size: 20px;
  color: inherit;
  border: none;
  display: flex;
  justify-content: center;
}

.word {
  padding-left: 5px;
}

.punctuation {
  padding-left: 0px;
}

.navbar {
  overflow: hidden;
  background-color: #2a273f;
  position: fixed;
  top: 0;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 18px 18px;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #908caa;
}

.navbar a:hover {
  background: #44415a;
}


.individualnote {
  background: #2a273f;
  margin-left: 15px;
  border-radius: 5px;
}

/* RATINGS */

.rating-0 {
  color: red;
}

.rating-1 {
  color: orange;
}

.rating-2 {
  color: yellow;
}

.rating-3 {
  color: pink;
}

.rating-4 {
  color: white;
}
